
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #292f36;
}

#c1,
#c2 {
    width: 450px;
    position: absolute;
}

#c1 {
    top: 50%;
    left: 12.5%;
}

#c2 {
    right: 10%;
}

.background__overlay {
    border-radius: 15px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.nav,
main .row,
footer .container {
    z-index: 10;
}